.submitt{
    background-color: yellow;
    padding: 0px;
    width: 100px;
}
.submitt:hover{
    background-color: rgba(255, 255, 0, 0.21);
}
.boxhasil{
    background-color: lightblue;
    width: 70%;
    height: 50px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d3d4cf;
}